body{
    min-height: 500px;
}

.newsTitle{
    margin-top: 30px;
    text-align: center;
}

.notificationTitle{
    text-align: center;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}

.indexBody{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Work on this to work with the image card width */
.card{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.staffImage{}

.cardBody{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.storyFull{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.contactForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.calendarBody{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px; 
    height: 600px;
}

.carousel-caption{
    background: #212529;
}

.readMore{
  float: right;
  margin-bottom: 10px;
  margin-right: 5px;
}

.story{
    border-bottom: 1px solid #f1f1f1;
    overflow: auto;
}

.jsonData{
 text-align: center;
}

#nextPage{
    margin: 20px;
    float: right;
}

#previousPage{
    margin: 20px;
}

.staffHeader{
    text-align: center;
}

.volunteerHeader{
    text-align: center;
}


.videofiles{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.videoTitle{
    text-align: center;
}

.newsImage{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.newsDate{
    text-align: right;
    color: blue;
}

footer{
    background-color: #212529;
    color:white;   
    text-align: center;
    height: 60px;
    margin-top: 50px;
}

.container{
    margin-top: 50px;
}

.btn-btn-primary{
  text-align: right;
}



.card{
    margin: 10px;
}

.indexImage{
    width:200px; 
    height: 200px;
    float: left;
    margin-right: 50px;
}

.headerBlog{
    text-align: center;
}



.imageCenter{
    margin: 0 auto;
    width:400px;
    height:400px;
}

.indexHeader{
    margin-bottom: 30px;
}

.carousel.slide{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#volunteerHeaderContainer{
  margin-top: 20px;
  margin-bottom: 20px;
}

.carouselHeader{
    text-align: center;
}

/* This will used to have the header sticky */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }




/* For overlay */

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #66ff66;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
