<% include ./partials/header %>
<div class="col-sm-3">
    <h2> Opening Hours: </h2>

    <p>Monday: 10am-10pm </p>
    <p>Tuesday: 10am-7pm </p>
    <p>Wednesday: 10am-10pm </p>
    <p>Thursday: 11am-10pm </p>
    <p>Friday: 10am-6pm</p>
    Occasional Weekends
</div>

<div class="col-sm-8 contactsBody">

<h1>Google Maps</h1>


<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9516.336235633276!2d-6.2233275!3d53.3954362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d1fa13b87d62605!2sKilmore+West+Community+Centre!5e0!3m2!1sen!2sie!4v1542204792536" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<h2> Email Us </h2>

James P - <a href="mailto:jprendergastbusiness@gmail.com">jprendergastbusiness@gmail.com</a>






Mailing Address
Kilmore West Youth Project CLG
Recreation Centre,
Cromcastle Road,
Kilmore West,
Dublin 5
(01) 8474548
Email: louisesmith.kwyp@gmail.com
</div>


<div class="col-sm-2"></div>


<% include ./partials/footer %>