<% include ./partials/header %>
<div class="col-sm-12">
<iframe class="calendarBody" src="https://calendar.google.com/calendar/embed?src=31ovl847ruprjqb9ppheh031h0%40group.calendar.google.com&ctz=Europe%2FDublin" style="border: 0" frameborder="0" scrolling="no"></iframe>
</div>
<% include ./partials/footer %>