
        <% include ./partials/header %>

        <div class="col-sm-12">
<h1> JSON Data</h1>
<div class="jsonData">
<%  data.forEach(function(data){  %>
    <p><%= data.first_name %></p>

<% }) %>
</div> 
</div>