<% include ./partials/header %>
<%  result2.forEach(function(result2){  %>
<h1><%= result2.notificationmessage %> </h1>
<% }) %>



<%  result.forEach(function(result){  %>
    <div class="story">
    <h1 class="newsTitle"><%= result.title %></h1>

    <% }) %>