<% include ./partials/header %>
<%  result.forEach(function(result){  %>
<div class="col-sm-6">

    <div class="videoStyle">
    <h1 class="videoTitle"><%= result.videotitle %></h1>
    <video class="videofiles" controls>
        <source src="/videofiles/<%= result.videolink  %>" type="video/mp4">
        Your browser does not support the video tag.
      </video>

    
</div>
</div>
    <% }) %>



<% include ./partials/footer %>