<% include ./partials/header %>
<div class="col-sm-12">
<p>We recognise the important role that volunteers play along with staff in the delivery of quality youth work services and value their contribution to the successful development of our services.</p>

<p>Volunteers who engage in the project are fully committed to achieving outcomes and supporting development for the young people who engage in the service. Volunteers are given the opportunity to engage in supervision and there is a lot of scope to progress or further develop skills in the sector.</p>

<p>To obtain an application form please contact ___________ </p>

</div>

<% include ./partials/footer %>